{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Acerca De: pues dice mi ma!!</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/diceMa.jpg" class="img-thumbnail" alt="Babas, que dice mi mama que .....">
        </div>

    </div>


{{>footer}}    